* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  position: relative;
  height: 800px;
  width: 100%;
  padding-top: 7px;
}

section h1 {
  text-align: center;
  width: 400px;
  margin-top: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 5em;
}

.devicons {
  font-size: 60px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin: auto;
  font-size: 5em;
  z-index: 2;
}

header {
  position:fixed;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: grey;
  opacity: .60;
  height: 100px;
  width: 100%;
  z-index: 1;
  padding: 0px 20px;
}

nav li {
  height: 100px;
  float: right;
  display: inline;
  padding: 40px 10px;
  z-index: 5;
}

nav li:hover{
  background-color: #4d4d4c;
}

.home-icon{
  float: left;
}

nav a{
  text-decoration: none;
  color: white;
}

input {
  margin-top: 10px;
  margin-bottom: 25px;
}

textarea {
  width: 350px;
  height: 150px;
}

#home {
  background: url(Images/sierras-background-darkened3.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 250px;
  text-align: center;
}

.hero{
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 100%;
  margin: auto;
  font-weight: 200;
}

.hero h1{
  display:inline;
  text-transform: uppercase;
  font-size: 4.3em;
  border-bottom: 1px solid white;
  color: white;
}

.hero h2{
  margin-top: 20px;
  font-size: 2em;
}

#about {
  background-color: #faf7f4;
  text-align: center;
}

.about-header {
  text-align: center;
}

.bio {
  padding-left: 15%;
  text-align: center;
  padding-right: 20%;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  margin: 35px;
  font-size: 1.1em;
  line-height: 1.4em;
}

.bio p, .bio ul {
  margin-bottom: 15px;
}

#projects {
  /*text-transform: uppercase;*/
  background-color: lightgrey;
  text-decoration: none;
}

#gallery-wrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.proj-layer {
  padding: 15px;
  transition-duration: .4s;
  transition-timing-function: ease;
  transition-property: all;
  background-color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity .2s linear;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.proj-boxes, .proj-layer {
  height: 475px;
  width: 250px;
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  transition-duration: .2s;
  transition-timing-function: ease;

}

  .proj-boxes {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  margin: 25px;
}

.proj-boxes:hover {
  transform: scale(1.1);
}

.proj-layer:hover {
  width: 275;
  height: 522;
  opacity: .9
}


#proj1 {
  background-image: url(Images/number-guesser.png);
  background-position: center;
  background-size: cover;
}
/*.proj-layer h3 {
  margin: 30px;
}

.proj-layer p {
  margin-bottom: 20px;
}

.proj-layer a {
  text-decoration: none;
}*/

#proj2 {
  background-image: url(Images/color-changer.png);
  background-position: center;
  background-size: cover;
}

#proj3 {
  background-image: url(Images/idea-box.png);
  background-position: center;
  background-size: cover;
}

#proj4 {
  background-image: url(Images/almond.png);
  background-position: center;
  background-size: cover;
}

#quote-banner {
  background: url(Images/Albert-Bierstadt-tahoe.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 185px;
  font-size: 2em;
  font-style: italic;
  color: white;
  height: 450px;
}

#contact {
  text-transform: uppercase;
  background-color: #4d4d4c;
  color: #faf7f4;
  height: 750px;

}

.resume-column, .contact-form {
  position: relative;
  display: inline-block;
}

.resume-column {
  width: 30%;
  float:left;
  padding: 30px;
  text-align: center;
  line-height: 30px;
  height: 450px;
  border-right: 1px solid black;
}

.contact-form {
  width: 70%;
  padding-left: 200px;
  padding-top: 75px;

}

.headshot{
  height: 200px;
  width: 200px;
  margin: 30px;
}

footer{
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background-color: black;
}

footer ul{
  display: flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
}

footer li{
  display: inline-flex;
}
